<?xml version="1.0"?>
<configuration>
<!-- ACA CONFIGURO PARA QUE LAS PERSONAS DEBAN REGISTRARSE PARA ACCEDER A DISTINTOS SITIOS-->
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
